#black-sony {
    height: 35px;
    background-color: black;
}

header nav {
    height: 65px;
    background-color: lightblue;
}

#jumbo {
    height: 650px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center top;
    color: white;
}

#thumbs img {
    width: 100%;
}
