.white {
    color: white;
}

#black-sony {
    height: 35px;
    background-color: black;
}

header nav {
    height: 65px;
    background-color: lightblue;
}

.game {
    height: 650px;
    background-position: center top;
    color: white;
}
#revival {
    background-image: url(../img/jumbo-bg.png);
}

#takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

img {
    width: 100%;
}

.white-spaced {
    padding: 5% 0 4%;
}

#ps5-thumbs img {
    width: 70%;
}

#new {
    padding: 3% 0 6%;
}